@using Project_Pronia.ViewModels;
@model LoginVm


<div class="container" style="margin-left: 31%">
    <div class="row">
        <div class="col-lg-6">
            <form method="post">
                <div class="login-form">
                    <h4 class="login-title">Login</h4>
                    <div class="row">
                        <div class="col-lg-12">
                            <label asp-for="UsernameOrEmail" >Email or Username</label>
                            <input asp-for="UsernameOrEmail" placeholder="Email Address or Username" />
                            <span asp-validation-for="UsernameOrEmail" class="text-danger"></span>
                        </div>
                        <div class="col-lg-12">
                            <label asp-for="Password" >Password</label>
                            <input asp-for="Password" placeholder="Password" />
                            <span asp-validation-for="Password" class="text-danger"></span>

                        </div>
                        <div class="col-md-8">
                            <div class="check-box">
                                <input asp-for="RememberMe" />
                                <label asp-for="RememberMe">Remember me</label>
                            </div>
                        </div>
                        <div class="col-lg-12 pt-5 text-danger" asp-validation-summary=All ></div>
                        <div class="col-lg-12 pt-5">
                            <button type="submit" class="btn btn-custom-size lg-size btn-pronia-primary">
                                Login
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
