@using Project_Pronia.Areas.ViewModels;
@using Project_Pronia.Models;
@model CreateProductVM;

<div class="container" style="margin-left:380px">

    <form asp-controller="Product" asp-action="Create" method="post">
        <div class="form-group" style="width: 500px">
            <label asp-for="Title">Product Name</label>
            <input asp-for="Title" type="text" class="form-control" placeholder="Enter product name">
        </div>
        <div class="form-group" style="width: 500px">
            <label asp-for="SKU">Product SKU</label>
            <input asp-for="SKU" type="text" class="form-control" placeholder="Enter product SKU">
        </div>
        <div class="form-group" style="width: 500px">
            <label asp-for="Price">Product Price</label>
            <input asp-for="Price" type="text" class="form-control" placeholder="Enter product price">
        </div>
        <div class="form-group" style="width: 500px">
            <label asp-for="Description">Product Description</label>
            <input asp-for="Description" type="text" class="form-control" placeholder="Enter product description">
        </div>
        <div>
            <label asp-for="CategoryId" class="form-label">Categories</label>
            <select class="form-select" asp-items="new SelectList(ViewBag.Categories,nameof(Categories.Id),nameof(Categories.Name))">
                <option selected>Select Category</option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary" style="margin-left:190px">Create</button>
    </form>

</div>  